body{
	background-color: #272C34
}
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	overflow: hidden;
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.center {
	background-color: #272C34;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
	
	height: 100%;
	width: 100%;
	
	display: flex;
	justify-content: center;
	align-items: center;
}

.circle {
	position: relative;
	
	height: 180px;
	width: 180px;
	
	border-radius: 50%;
	
	overflow: hidden;

	opacity: 0;
	animation: daynight 4.5s infinite;
}

.sky {
	background-color: #7DDFFC;
	height: 124px;
	width: 100%;
}

.land {
	background-color: #F0DE75;
	height: 56px;
	width: 100%;
}

.belowside {
	position: absolute;
	left: 32px;
	top: 67.5px;
	height: 57px;
	width: 116px;
	
	clip-path: polygon(50% 0, 100% 100%, 0 100%);

	animation: lowercolor 4.5s linear infinite both;
}

.upperside {
	background-color: #ABAAAC;
	position: absolute;
	height: 57px;
	width: 59px;
	top: 67.5px;
	left: 90px;
	
	clip-path: polygon(0 0, 100% 100%, 30% 100%);
	
	animation: uppercolor 4.5s linear infinite both;
}

.sun {
	position: absolute;
	top: 7px;
	left: 73px;
	height: 34px;
	width: 34px;
	border-radius: 50%;
	background-color: #FFEF00;

	transform-origin: 17px 400%;
	animation: sun-rotate 4.5s infinite both;
}



.shadow {
	background-color: #C0B15D;
	
	position: absolute;;
	left: -35px;
	top: 124.5px;
	height: 30px;
	width: 250px;
	
	clip-path: polygon(67px 0, 183px 0, 100% 50%);
	
	transform-origin: 50% 0;
	transition: scaleY linear;
	animation: shadow-anim 4.5s infinite both;
}

@keyframes sun-rotate {
	0% {
		background-color: #F57209;
		transform: rotate(-75deg);
	}
	30% {
		background-color: #FFEF00;
		transform: rotate(-30deg);
	}
	70% {
		background-color: #FFEF00;
	}
	100% {
		background-color: #F57209;
		transform: rotate(75deg);
	}
}

@keyframes shadow-anim {
	0% {
		clip-path: polygon(67px 0, 183px 0, 100% 100%);
		transform: scaleY(0);
	}
	30% {
		clip-path: polygon(67px 0, 183px 0, 100% 75%);
		transform: scaleY(1);
	}
	50% {
		transform: scaleY(0.5);
	}
	70% {
		transform: scaleY(1);
	}
	100% {
		clip-path: polygon(67px 0, 183px 0, 0% 100%);
		transform: scaleY(0);
	}
}

@keyframes lowercolor {
	0% {
		background-color: white;
	}
	30% {
		background-color: #F5D3A5;
	}
	50% {
		background-color: #CAAC78;
	}
	100% {
		background-color: #C2985E;
	}	
}

@keyframes uppercolor {
	0% {
		background-color: #C2985E;
	}
	30% {
		background-color: #CAAC78;
	}
	50% {
		background-color: #F5D3A5;
	}
	100% {
		background-color: white;
	}	
}

@keyframes daynight {
	0% {
		opacity : 0;
	}
	15% {
		opacity: 1;
	}
	85% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

